[submodule "chipyard"]
	path = hardware/chipyard
	url = https://github.com/ucb-bar/chipyard.git
[submodule "software/freedom-u540-c000-bootloader"]
	path = software/freedom-u540-c000-bootloader
	url = https://github.com/thuchoang90/freedom-u540-c000-bootloader.git
[submodule "hardware/fpga-shells"]
	path = hardware/fpga-shells
	url = https://github.com/uec-hanken/fpga-shells.git
[submodule "hardware/teehw/vsrc/ed25519_sign"]
	path = hardware/teehw/vsrc/ed25519_sign
	url = https://github.com/ckdur/ed25519_fpga.git
[submodule "hardware/teehw/vsrc/aes"]
	path = hardware/teehw/vsrc/aes
	url = https://github.com/secworks/aes.git
[submodule "hardware/teehw/vsrc/wb2axip"]
	path = hardware/teehw/vsrc/wb2axip
	url = https://github.com/ZipCPU/wb2axip.git
[submodule "software/sim-bootloader/tiny-AES-c"]
	path = software/sim-bootloader/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c.git
[submodule "hardware/opentitan"]
	path = hardware/opentitan
	url = https://github.com/lowRISC/opentitan.git
