*
!.gitignore
!Makefile
!TR5.shell.quartus.tcl
!TR5.qsys.main.tcl
!main.qsys
!main_10M.qsys
!main_20M.qsys
!main_30M.qsys
!main_40M.qsys
!main_50M.qsys
!main_15M.qsys
!main_16M.qsys
!main_17M.qsys
!main_18M.qsys
!main_25M.qsys
!main_5M.qsys
!main_6M.qsys
!main_7M.qsys
!main_8M.qsys
!main_9M.qsys
!stp_tlport.stp

